@model ccsc.DataLayer.Entities.Services.ServiceType

@{
    ViewData["Title"] = "Delete";
    
}

<h1>حذف</h1>

<h3>آیا از حذف این مورد مطمئن هستید؟</h3>
<div>
    <h4>ServiceType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ServiceTypeId" />
        <input type="submit" value="خذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به فهرست</a>
    </form>
</div>
