2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>jQuery.getScript demo</title>
	<style>
		.block {
			background-color: blue;
			width: 150px;
			height: 70px;
			margin: 10px;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
 
<button id="go">&raquo; Run</button>
<div class="block"></div>
 
<script>
	var pathname = window.location.pathname; // Returns path only (/path/example.html)
	var url = $(location).attr('href');     // Returns full URL (https://example.com/path/example.html)
	var host = $(location).attr('host');     // Returns full URL (https://example.com/path/example.html)
	var hostname = $(location).attr('hostname');     // Returns full URL (https://example.com/path/example.html)
	var origin   = window.location.origin; 
	$.getScript( url, function() {
		$( "#go" ).click(function() {
			$( ".block" )
				.animate({
					backgroundColor: "rgb(255, 180, 180)"
				}, 1000 )
				.delay( 500 )
				.animate({
					backgroundColor: "olive"
				}, 1000 )
				.delay( 500 )
				.animate({
					backgroundColor: "#00f"
				}, 1000 );
		});
		console.log(host);
		console.log(url); 
		console.log(hostname);
		console.log( "Load was performed." );
	});
	var getUrlParameter = function getUrlParameter(sParam) {
		var sPageURL = window.location.search.substring(1),
			sURLVariables = sPageURL.split('&'),
			sParameterName,
			i;
		
		for (i = 0; i < sURLVariables.length; i++) {
			sParameterName = sURLVariables[i].split('=');
			console.log(sParameterName);
			if (sParameterName[0] === sParam) {
				return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
			}
		}
		return false;
	};
	(function() {
		alert("Ok");
	})();
</script>
 
</body>
</html>