@model ccsc.DataLayer.Entities.ChangeSets.ChangeSet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ChangeSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChangeSetId" />
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class="form-control" asp-items="ViewBag.AppUserId"></select>
                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPublish" class="control-label"></label>
                <input asp-for="IsPublish" class="form-control" />
                <span asp-validation-for="IsPublish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quarter" class="control-label"></label>
                <input asp-for="Quarter" class="form-control" />
                <span asp-validation-for="Quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserTypeId" class="control-label"></label>
                <select asp-for="UserTypeId" class="form-control" asp-items="ViewBag.UserTypeId"></select>
                <span asp-validation-for="UserTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeTypeId" class="control-label"></label>
                <select asp-for="ChangeTypeId" class="form-control" asp-items="ViewBag.ChangeTypeId"></select>
                <span asp-validation-for="ChangeTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubSystemId" class="control-label"></label>
                <select asp-for="SubSystemId" class="form-control" asp-items="ViewBag.SubSystemId"></select>
                <span asp-validation-for="SubSystemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoId" class="control-label"></label>
                <select asp-for="VideoId" class="form-control" asp-items="ViewBag.VideoId"></select>
                <span asp-validation-for="VideoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
