@{
    ViewData["Title"] = "درباره";
}
<h1>@ViewData["Title"]</h1>

<p>مرکز خدمات مشتریان انیکو تلاش خواهد کرد با به کارگیری زیرساختهای نوین فناوری اطلاعات سطح وسعی از خدمات خودر را به صوزت اتومانیک ارائه نماید.</p>
