<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CCSC</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/my.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2020.2.513/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.2.513/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.2.513/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.2.513/js/kendo.aspnetmvc.min.js"></script>
	<script src="~/js/kendo.messages.fa-IR.js"></script>
</head>
<body class="k-rtl dir-right">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
			<div class="container">
				<span class="material-icons">
					<a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">

						home

					</a>
				</span>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon bg-light"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<span class="material-icons">
								<a class="nav-link text-light" title="داشبورد" asp-area="" asp-controller="Home" asp-action="Dashboard">
									analytics
								</a>
							</span>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Index">مشتریان</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Servers" asp-action="Index">ریموت</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Contacts" asp-action="Index">افراد</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Contracts" asp-action="Index">قراردادها</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="Index">محصولات</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Requests" asp-action="Index">درخواست ها</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								اطلاعات پایه
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" asp-area="" asp-controller="ServerTypes" asp-action="Index">انوع سرور</a>
								<a class="dropdown-item" asp-area="" asp-controller="ContractTypes" asp-action="Index">انواع قرارداد</a>
								<a class="dropdown-item" asp-area="" asp-controller="Os" asp-action="Index">انواع سیستم عامل</a>
								<a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="Index">پست ها</a>
								<a class="dropdown-item" asp-area="" asp-controller="CourseLevels" asp-action="Index">مقاطع تحصیلی</a>
								<a class="dropdown-item" asp-area="" asp-controller="CustomerTypes" asp-action="Index">انواع مشتری</a>
								<a class="dropdown-item" asp-area="" asp-controller="RequestChanels" asp-action="Index">کانال درخواست</a>
								<a class="dropdown-item" asp-area="" asp-controller="RequestTypes" asp-action="Index">نوع درخواست</a>
								<a class="dropdown-item" asp-area="" asp-controller="RequestStatus" asp-action="Index">وضعیت درخواست</a>
								<a class="dropdown-item" asp-area="" asp-controller="Salutations" asp-action="Index">القاب</a>
								<a class="dropdown-item" asp-area="" asp-controller="Genders" asp-action="Index">جنسیت</a>

							</div>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>

			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container text-left">
			&copy; 2020 - CCSC - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
		</div>
	</footer>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
