@using ccsc.DataLayer.Entities.Customers
@model IEnumerable<ccsc.DataLayer.Entities.Customers.ServerType>

<div class="k-rtl k-grid">
	@(Html.Kendo().Grid<ServerType>
	()
	.Name("grid")
	.Columns(columns =>
	{
		columns.Bound(c => c.ServerTypeId).Width(50).Title("شناسه");

		columns.Bound(c => c.Title);
	})
	.ToolBar(t => t.Search())
	.Search(search =>
	{
		search.Field(f => f.Title);

	})
	.Scrollable()
	.Groupable()
	.Sortable()
	.Pageable(pageable => pageable
	.Refresh(true)
	.PageSizes(true)
	.ButtonCount(5))
	.DataSource(dataSource => dataSource
	.Ajax()
	.Read(read => read.Action("FillGrid", "ServerTypes"))
	)
	)
</div>



<script>
	$(function () {
		//Notice that the Name() of the Grid is used to get its client-side instance.
		var grid = $("#grid").data("kendoGrid");
	});
</script>