@model ccsc.DataLayer.Entities.Requests.Request

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestId" />
            <div class="form-group">
                <label asp-for="ContactId" class="control-label"></label>
                <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId"></select>
                <span asp-validation-for="ContactId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestTime" class="control-label"></label>
                <input asp-for="RequestTime" class="form-control" />
                <span asp-validation-for="RequestTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestChanelId" class="control-label"></label>
                <select asp-for="RequestChanelId" class="form-control" asp-items="ViewBag.RequestChanelId"></select>
                <span asp-validation-for="RequestChanelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestTypeId" class="control-label"></label>
                <select asp-for="RequestTypeId" class="form-control" asp-items="ViewBag.RequestTypeId"></select>
                <span asp-validation-for="RequestTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestStatusId" class="control-label"></label>
                <select asp-for="RequestStatusId" class="form-control" asp-items="ViewBag.RequestStatusId"></select>
                <span asp-validation-for="RequestStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
